*{
 margin: 0;
 padding: 0; 
 box-sizing: border-box;
}

.container{
  margin : 100px;
  background: green;
  border: 10px solid black; 
  display: flex;
  flex-wrap: wrap;
}
.container div 
{
  height: 100%;
  height: 400px;
  flex-grow: 1;
  width: 300px;
  /* width: 300px; */
}
.box1 {
  background: green;
}
.box2{
  background: hotpink;
}
.box3
{
  background: gold;

}
.box4 {
  background: paleturquoise;

}
.box5{
  background: crimson;
}