@font-face {
  font-family: popins;
  src: url("../Poppins/Poppins-Regular.ttf");
}

:root {
  --primary-color: #fe4f5b;
  --secondary: #385b63;
  --third-color: #1b2e35;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: popins;
}

body {
  width: 100%;
  height: 100%;
}
svg {
  height: 10px;
  height: 1.5rem;
  width: 1.5rem;
  color: var(--white);
}
header {
  width: 100vw;
  height: 8vh;
}
header .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary);
  padding: 0 1.5rem;
}
header .container > a {
  font-size: 1.5rem;
  color: var(--white);
  letter-spacing: 1px;
}
header .container nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: fit-content;
  background: var(--secondary);

  /* hiding initailly */

  transform: translateY(-100%);
  transition: 0.3s;
}
header .container nav svg.close-menu {
  position: absolute;
  right: 2rem;
  top: 2rem;
  height: 2rem;
  width: 2rem;
}
header .container nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  gap: 1.5rem;
}
header .container nav ul li a {
  color: var(--white);
  font-size: 1.5rem;
}
input.show-menu {
  display: none;
}
input.show-menu:checked ~ nav {
  transform: translateY(0%);
}

main {
  padding: 2rem 1rem;
  height: calc(100vh - 8vh);
}
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
section .container.left {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

section .container.left h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}
section .container.left h1 strong {
  color: var(--primary-color);
}
section .container.left p {
  font-size: 1rem;
  /* letter-spacing: 1px; */
  text-align: justify;
  font-size: 1.5rem;
  text-align: left;
}
section .container.left button {
  background: var(--secondary);
  padding: 1rem 2rem;
  width: fit-content;
  font-size: 1rem;
  border: none;
  color: var(--white);
  border-radius: 1rem;
}
section .container.right {
  width: 100%;
}
section .container.right img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (min-width: 600px) {
  svg {
    display: none;
  }
  header .container {
    height: 15vh;
    padding: 0 4rem;
    background: none;
  }
  header .container > a {
    font-size: 3rem;
    color: var(--black);
  }
  header .container nav {
    position: initial;
    width: initial;
    transform: initial;
    height: fit-content;
    background: none;
  }
  label {
    display: none;
  }
  input {
    display: none;
  }

  header .container nav ul {
    flex-direction: row;
    height: initial;
    align-items: center;
    padding: 0 0;
  }
  header .container nav ul li a {
    color: var(--black);
  }

  main {
    padding: 4rem;
    margin-top: 5rem;
  }
  section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
