@font-face {
  font-family: popins;
  src: url("../../Poppins/Poppins-Light.ttf");
}
:root {
  --text-white: #fff;
  --primary: #1c6ea4;
  --secondary: #154d71;
  --body-yellow: #fff9af;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--text-white);
  font-family: popins;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--primary);
}

header {
  width: 100%;
  padding: 2rem 4rem;
  background: var(--secondary);
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav > a {
  font-size: 28px;
  letter-spacing: 1px;
  color: var(--body-yellow);
}
header nav div {
  display: flex;
  align-items: center;
  gap: 16px;
}
header nav div > a {
  font-size: 18px;
  letter-spacing: 1px;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  gap: 16px;
}
section article {
  text-align: justify;
  /* line-height: 1.5rem; */
}

@media (max-width: 600px) {
  header nav {
    flex-direction: column;
    padding: 1rem 2rem;
  }
  section {
    flex-direction: column;
    padding: 1rem;
  }
}
