:root {
  --bodyColor: #ffdcdc;
  --pinkFaded: #fff2eb;
  --orangeFaded: #ffe8cd;
  --orange: #ffd6ba;
  --white: #ffffff;
  --black: #000000;
  --waring: yellow;
  --danger: red;
  --tdHover: #ffe8cd;
  --success: green;
  --gray: gray;
  --hoverGreen: #008000c6;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--bodyColor);
}

/* model box for delete  */
.delete-pop-up {
  /* background: var(--pinkFaded); */
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 1rem;
  /* border-radius: 1rem; */
  padding: 1rem;
  width: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: 0.3s ease-in-out;

  /* initailly hide gareko */
  transform: translate(-50%, -50%);
  display: none;
  border-radius: 0.2rem;

  /* morphism */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 20px 10px rgba(255, 255, 255, 1);
}

.delete-pop-up span {
  text-align: center;
}
.delete-pop-up span:nth-child(1) {
  font-size: 4vw;
}
.delete-pop-up span:nth-child(2) {
  font-size: 1.2vw;
}

.delete-pop-up div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.delete-pop-up:has(div) button {
  width: 50%;
  padding: 0.5rem;
  height: 50px;
  width: 1fr;
  cursor: pointer;
}
.delete-pop-up:has(div) button:nth-child(1) {
  background: var(--gray);
  color: var(--white);
}

.delete-pop-up:has(div) button:nth-child(2) {
  background: var(--danger);
  color: var(--white);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0;
  align-items: center;
}

/* form block css */

form {
  width: calc(70% + 1rem);
  background: var(--orange);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
  border-radius: 0.2rem;
  border-bottom: 3px solid black;
}
form > h1 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: 3vw;
  margin-bottom: 1rem;
}
form > h1 span {
  color: var(--success);
}
form div {
  width: 100%;
  background: var(--orange);
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
  border-radius: 0.2rem;
}
form div label {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: calc(100% / 2 - (0.5rem));
}
form div label input {
  width: 100%;
  outline: none;
  background: var(--pinkFaded);
  border: none;
  padding: 1rem;
  border-radius: 0.2rem;
  overflow: hidden;
}

/* eroor message  */
form div label span.error-message {
  color: var(--danger);
  align-items: center;
  opacity: 0;
  transition: 0.2s;
}

form div label span.input-title {
  color: var(--black);
  font-size: 2vw;
  align-items: center;
}

form div label button {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  background: var(--success);
  border-radius: 0.2rem;
  color: var(--white);
  transition: 0.2s;
}
form div label button:hover {
  background: var(--hoverGreen);
}

/* user table  block css */
main table {
  background: var(--pinkFaded);
  width: 70%;
  margin-top: 2rem;
}

main table caption h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 3vw;
}

main table caption span {
  color: hotpink;
}
main table tr {
  width: 100%;
  flex-wrap: wrap;
}
main table tr th,
main table tr td {
  padding: 1rem;
  border: 1px solid var(--black);
  text-align: left;
  /* width: calc(100% / 4); */
}

main table tr {
  background: var(--orange);
}
main table tr td {
  transition: 0.2s;
  transform-origin: left;
  width: 1fr 1fr 1fr 2fr;
}

main table tr td:hover {
  background: var(--orangeFaded);
}
main table tr td:has(button) {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  width: 100%;
  gap: 0.2rem;
}

main table tr td button {
  width: 45%;
  padding: 0.5rem;
  cursor: pointer;
  flex-grow: 1;
}
main table tr td button:nth-child(1) {
  background: var(--gray);
  border-radius: 4px;
  color: var(--white);
}

main table tr td button:nth-child(2) {
  background: var(--danger);
  border-radius: 4px;
  color: var(--white);
}

main table tr:nth-child(odd) {
  background: var(--pinkFaded);
}

main table tr:has(th) {
  background: var(--bodyColor) !important;
}

@media (max-width: 600px) {
  /* model box for delete  */
  .delete-pop-up {
    padding: 0.5rem;
    width: 70%;
  }

  .delete-pop-up span:nth-child(1) {
    font-size: 8vw;
  }
  .delete-pop-up span:nth-child(2) {
    font-size: 3vw;
  }

  .delete-pop-up:has(div) button {
    height: 40px;
  }

  /* form div block css */
  form {
    width: 100%;
  }
  form > h1 {
    font-size: 3vh;
  }
  form div {
    flex-direction: column;
    width: 100%;
  }
  form div label {
    width: 100%;
  }

  form div label span.input-title {
    font-size: 2vh;
    align-items: center;
  }

  /* user table block css */

  main table {
    width: 95%;
  }
  main table tr th {
    display: none;
  }
  main table tr td {
    display: block;
    width: 100%;
  }

  main table tr td::before {
    content: attr(th-title);
    /* font-weight: bold; */
    text-transform: uppercase;
  }
  main table caption h2 {
    font-size: 3vh;
  }
}
