@import "tailwindcss";
body {
  background: #000;
}

.white {
  color: #fff;
}
.black {
  color: #000;
}
* {
  text-decoration: none;
  list-style: noen;
  outline: none;
}

.linkElem-bg {
  background: #212121;
  color: white;
}
.linkElem-bg-hovered:hover {
  background: #313131;
}

.topbar {
  background: #000;
  color: white;
}
